<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">


</head>
<body class="container-fluid" data-spy="scroll" data-offset="58" data-target="#navigation" >
    <!-- Fixed navbar -->
    <header class="navbar navbar-default navbar-fixed-top" role="navigation">
        <nav class="container-fluid">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">نرم‌افزار مدیریت مجتمع‌های مسکونی</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" id="DropDownMenu">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>

                <div class="navbar-collapse collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="index.html">خانه</a></li>
                        <li><a href="about.html">درباره</a></li>
                        <li><a href="contact.html">اطلاعات تماس</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">بخشهای سایت <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="blog.html">BLOG</a></li>
                                <li><a href="single-post.html">SINGLE POST</a></li>
                                <li><a href="portfolio.html">PORTFOLIO</a></li>
                                <li><a href="single-project.html">SINGLE PROJECT</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

               <a   class="navbar-nav navbar-left vorood navbar-collapse collapse RegisterLink " href=@Url.Action("Register","Account")> عضویت</a>
               <a class="navbar-nav navbar-left vorood navbar-collapse collapse RegisterLink " href="@Url.Action("Login","Account")"> ورود</a>

                <!--/.nav-collapse -->
            </div>

            


            <!--/.nav-collapse -->
        </nav>
    </header>
    <main class="container">

        @RenderBody()
        <!-- *****************************************************************************************************************
       FOOTER
       ***************************************************************************************************************** -->
    </main>
    <footer id="footer" class="top-space">

        <div class="footer1">
            <div class="container">
                <div class="row">

                    <div class="col-md-3 widget">
                        <h3 class="widget-title">اطلاعات تماس</h3>
                        <div class="widget-body">
                            <p>
                                +234 23 9873237<br>
                                <a href="mailto:#">some.email@somewhere.com</a><br>
                                <br>
                                234 Hidden Pond Road, Ashland City, TN 37015
                            </p>
                        </div>
                    </div>

                    <div class="col-md-3 widget" id="FollowMeApp">
                        <h3 class="widget-title">مارا دنبال کنید</h3>
                        <div class="widget-body">
                            <p class="follow-me-icons">
                                <a href=""><i class="fa fa-twitter fa-2"></i></a>
                                <a href=""><i class="fa fa-dribbble fa-2"></i></a>
                                <a href=""><i class="fa fa-github fa-2"></i></a>
                                <a href=""><i class="fa fa-facebook fa-2"></i></a>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 widget">
                        <h3 class="widget-title">Text widget</h3>
                        <div class="widget-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?</p>
                            <p>Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat provident assumenda labore soluta minima alias temporibus facere distinctio quas adipisci nam sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate reprehenderit architecto sint libero illo et hic.</p>
                        </div>
                    </div>

                </div> <!-- /row of widgets -->
            </div>
        </div>

        <div class="footer2">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 widget">
                        <div class="widget-body">
                            <p class="simplenav">
                                <a href="#">Home</a> |
                                <a href="about.html">About</a> |
                                <a href="sidebar-right.html">Sidebar</a> |
                                <a href="contact.html">Contact</a> |
                                <b><a href="signup.html">Sign up</a></b>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 widget">
                        <div class="widget-body">
                            <p class="text-right">
                                Copyright &copy; 2014, Your name. Designed by <a href="http://gettemplate.com/" rel="designer">gettemplate</a>
                            </p>
                        </div>
                    </div>

                </div> <!-- /row of widgets -->
            </div>
        </div>

    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")

    @RenderSection("scripts", required: false)
</body>
</html>
