<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -مدیریت سایت</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">


</head>
<body class="container-fluid" data-spy="scroll" data-offset="58" data-target="#navigation">
    <div class="content">
        <!-- Fixed navbar -->
        <header class="navbar navbar-default navbar-fixed-top" role="navigation">
            <nav class="container-fluid">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="index.html">نرم‌افزار مدیریت مجتمع‌های مسکونی</a>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" id="DropDownMenu">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div>
                    <div class="navbar-collapse collapse navbar-right">
                        <ul class="nav navbar-nav">


                            <li>
                                <a href="@Url.Action("Index","AdminHome")">
                                    صفحه اصلي
                                    <span class="fa fa-home"></span>
                                </a>
                            </li>


                            <li>
                                <a href="@Url.Action("Index","Costs")">
                                    مدیریت هزینه
                                    <span class="fa fa-book"></span>
                                </a>
                            </li>

                            <li>
                                <a href="@Url.Action("Index","BuildingUnits")">
                                    مدیریت واحدها
                                    <span class="fa fa-windows"></span>
                                </a>
                            </li>


                            <li>
                                <a href="@Url.Action("Index","Residents")">
                                    مدیریت ساکنان
                                    <span class="fa fa-address-card"></span>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">خدمات سایت <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="blog.html">طراحی پروژه</a></li>
                                    <li><a href="single-post.html">معرفی شرکت</a></li>
                                    <li><a href="portfolio.html">کاتالوگ ها</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    @Html.Partial("_LoginPartial")
                    <!--/.nav-collapse -->
                </div>
                <!--/.nav-collapse -->
            </nav>
        </header>




        <div class="container" id="wrapper">
            <div class="row">
                <main class="col-md-12">
                    @if (!string.IsNullOrEmpty(TempData["Message"]?.ToString()))
                    {
                        <div class="alert alert-@(TempData["MessageClass"]??"success")">
                            @TempData["Message"]
                        </div>
                    }

                    @RenderBody()
                </main>
            </div>
        </div>






        <!-- *****************************************************************************************************************
    FOOTER
    ***************************************************************************************************************** -->

        <footer id="footer" class="top-space ">

            <div class="footer1 ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 widget  ">
                            <h3 class="widget-title">اطلاعات تماس</h3>
                            <div class="widget-body dire">
                                <p class="footer1">
                                    آدرس: تهران – خیابان یوسف آباد – خیابان ابن سینا – پلاک 40
                                    <br>  تلفن:
                                    021-412563987 <br>
                                    <a href="mailto:#">some.email@somewhere.com</a>
                                    
                                    <br>
                                </p>
                            </div>
                        </div>

                        <div class="col-md-3 widget" id="FollowMeApp">
                            <h3 class="widget-title">ما رادر شبکه های اجتماعی دنبال کنید</h3>
                            <div class="widget-body">
                                <p class="follow-me-icons ">
                                    <a href=""><i class="fa fa-twitter fa-2"></i></a>
                                    <a href=""><i class="fa fa-dribbble fa-2"></i></a>
                                    <a href=""><i class="fa fa-github fa-2"></i></a>
                                    <a href=""><i class="fa fa-facebook fa-2"></i></a>
                                </p>
                            </div>
                        </div>

                        <div class="col-md-6 widget ">
                            <h3 class="widget-title">مدیریت ساختمان</h3>
                            <div class="widget-body ">
                                <p class="footer1">
                                    نرم افزار مدیریت ساختمان برای سهولت در ارتباط  افراد و مدیریت ساختمان است. مدیریت کارآمد باعث اطمینان از امنیت وکیفیت زندگی در مجموعه می شود.

                                </p>
                            </div>

                        </div>

                    </div> <!-- /row of widgets -->
                </div>
            </div>

            <div class="footer2">
                <div class="container">
                    <div class="row" style="font-size:14px; font-family: Vazir; color:white; direction:rtl;">

                        <div class="col-md-6 widget ">
                            <div class="widget-body">
                                <p>
                                    &copy; تمامی حقوق این سایت متعلق به گروه ما است
                                </p>
                            </div>
                        </div>

                    </div> <!-- /row of widgets -->
                </div>
            </div>

        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jqueryval")

        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
